{% set taglineClass = taglineClass | default('tagline') %}

{% if tagline %}
  <p class="{{ taglineClass }}__tag tag">{{ tagline }}</p>
{% endif %}
{% if isH1 %}
  <h1 class="{{ taglineClass }}__title {{ variant == 'small' ? 'h3' : 'h2' }}">{{ title }}</h1>
{% else %}
  <h2 class="{{ taglineClass }}__title {{ variant == 'small' ? 'h3' : 'h2' }}">{{ title }}</h2>
{% endif %}
