{% set openMenu = 'Open menu' | t %}
{% set closeMenu = 'Close menu' | t %}

<ds-main-menu openMenu="{{ openMenu }}" closeMenu="{{ closeMenu }}" class="main-menu">
  <button type="button" title="Open menu" class="main-menu__action" aria-expanded="false" aria-pressed="false">
    <span class="main-menu__action--icon-menu icon menu-blue"></span>
    <span class="main-menu__action--icon-close icon close-white"></span>
    <span class="visually-hidden">{{ openMenu }}</span>
  </button>

  <nav class="main-menu__menu">
    <ul class="main-menu__items">
      {% for link in links %}
        <li>
          {% set url = link.url.path %}
          {% set url = is_front ? url | replace({ '/#' : '#' }) : url | replace({ (path('<current>') ~ '#') : '#' }) %}
          {% set target = url matches '/http:\\/\\/|https:\\/\\//' ? 'target="_blank" rel="noopener noreferrer"' : '' %}
          <a class="main-menu__link {{ link.active ? 'active' }}" href="{{ url }}" {{ target | raw }}>
            {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</ds-main-menu>
