{% if class == 'inner' and media.entity is not empty %}
  {% set class = '' %}
{% endif %}
{% set classes = [
  'link-bg-media',
  'relative',
  class
]|join(' ') %}
<section {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
  {% if media.entity is not empty %}
    {% if media.entity.type == 'MediaImage' %}
      {% include '@storybook/components/media-image/media-image.html.twig' with {
        mediaImage: media.entity.mediaImage,
        class: 'bg-media'
      } only %}
    {% elseif media.entity.type == 'MediaVideo' %}
      {% include '@storybook/components/media-video/media-video.html.twig' with {
        mediaVideo: media.entity.mediaVideo,
        class: 'bg-media'
      } only %}
    {% endif %}
  {% endif %}
  <div class="text__content relative">
    {% if title and title is not empty %}
      <h2 class="title-white">{{ title }}</h2>
    {% elseif data.title and data.title.value is not empty and data.title.element is not empty %}
      <{{ data.title.element }}>{{ data.title.value }}</{{ data.title.element }}>
    {% endif %}
    {% if entityLinks is not empty %}
      {% for entityLink in entityLinks %}
      {% set entityLink = entityLink.entity %}
        {% include '@storybook/components/link/link.html.twig' with entityLink only %}
      {% endfor %}
    {% endif %}
  </div>
</section>
