{% if embedMedia.entity.media.entity is not empty and embedMedia.entity.position != 'background' %}
  <section class="text">
    <div class="two-columns embed--{{ embedMedia.entity.position }}">
      <div class="two-columns__column text__media">
        {% include '@storybook/components/embed-media/embed-media.html.twig' with {
          content: embedMedia.entity,
          hideSection: true
        } only %}
      </div>
      <div class="two-columns__column text__content">
        {% if title %}
          <h2>{{ title }}</h2>
        {% endif %}
        {% if text %}
          <div class="text__content-text">{{ text.processed | raw }}</div>
        {% endif %}
        {% if entityLink is not empty %}
          {% include '@storybook/components/link/link.html.twig' with {
            component: entityLink.entity
          } only %}
        {% endif %}
      </div>
    </div>
  </section>
{% else %}
  <section class="text relative">
    {% if embedMedia.entity is not empty %}
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        content: embedMedia.entity,
        class: 'bg-media',
        hideSection: true
      } only %}
    {% endif %}
    <div class="text__content relative">
      {% if title %}
        <h2>{{ title }}</h2>
      {% endif %}
      {% if text %}
        <div class="text__content-text">{{ text.processed | raw }}</div>
      {% endif %}
      {% if entityLink is not empty %}
        {% include '@storybook/components/link/link.html.twig' with {
          link: entityLink.entity.link,
          class: entityLink.entity.class
        } only %}
      {% endif %}
    </div>
  </section>
{% endif %}
