{% set classes = [
  'text',
  class | default('')
] | join(' ') %}

{% set attributes = [
  componentId ? 'id='~ componentId : '',
  'class="' ~ classes
] | join(' ') %}

{% if embedMedia.entity.media.entity is not empty %}
  <section {{ attributes }}>
    <div class="two-columns embed--{{ embedMedia.entity.position }}">
      <div class="two-columns__column text__media">
        {% include '@storybook/components/embed-media/embed-media.html.twig' with {
          content: embedMedia.entity
        } only %}
      </div>
      <div class="two-columns__column text__content">
      {% include '@storybook/components/tagline/tagline.html.twig' with {
          tagline: tagline,
          title: title,
          variant: 'small'
        } only %}
        {% if text and text.processed is not empty %}
          <div class="text__content-text">{{ text.processed | raw }}</div>
        {% endif %}
        {% if entityLink is not empty %}
          {% include '@storybook/components/link/link.html.twig' with {
            component: entityLink.entity
          } only %}
        {% endif %}
      </div>
    </div>
  </section>
{% else %}
  {% set classes = classes ~ ' relative' %}
  <section {{ attributes }}>
    {% if embedMedia.entity is not empty %}
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        content: embedMedia.entity,
        class: 'bg-media'
      } only %}
    {% endif %}
    <div class="text__content relative">
        {% include '@storybook/components/tagline/tagline.html.twig' with {
          tagline: tagline,
          title: title
        } only %}
      {% if text and text.processed is not empty %}
        <div class="text__content-text">{{ text.processed|raw }}</div>
      {% endif %}
      {% if entityLink is not empty %}
        {% include '@storybook/components/link/link.html.twig' with {
          link: entityLink.entity.link,
          class: entityLink.entity.class
        } only %}
      {% endif %}
    </div>
  </section>
{% endif %}
