{% set classes = [
  'text',
  class
]|join(' ') %}
{% if embedMedia.entity.media.entity is not empty %}
  {% if hideSection != true %}
  <section {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
  {% else %}
  <div {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
  {% endif %}
    <div class="two-columns embed--{{ embedMedia.entity.position }}">
      <div class="two-columns__column text__media">
        {% include '@storybook/components/embed-media/embed-media.html.twig' with {
          content: embedMedia.entity,
          hideSection: true
        } only %}
      </div>
      <div class="two-columns__column text__content">
        {% if tagline and tagline is not empty %}
          <div class="tagline__tag">{{ tagline }}</div>
        {% endif %}

        {% if title and title is not empty %}
          <h2 class="tagline__title tagline__title--small">{{ title }}</h2>
        {% endif %}
        {% if text and text.processed is not empty %}
          <div class="text__content-text">{{ text.processed | raw }}</div>
        {% endif %}
        {% if entityLink is not empty %}
          {% include '@storybook/components/link/link.html.twig' with {
            component: entityLink.entity
          } only %}
        {% endif %}
      </div>
    </div>
  {% if hideSection != true %}
  </section>
  {% else %}
  </div>
  {% endif %}
{% else %}
  {% set classes = classes ~ ' relative' %}
  {% if hideSection != true %}
  <section {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
  {% else %}
  <div {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
  {% endif %}
    {% if embedMedia.entity is not empty %}
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        content: embedMedia.entity,
        class: 'bg-media',
        hideSection: true
      } only %}
    {% endif %}
    <div class="text__content relative">
        {% include '@storybook/components/tagline/tagline.html.twig' with {
          tagline: tagline,
          title: title
        } only %}
      {% if text and text.processed is not empty %}
        <div class="text__content-text">{{ text.processed|raw }}</div>
      {% endif %}
      {% if entityLink is not empty %}
        {% include '@storybook/components/link/link.html.twig' with {
          link: entityLink.entity.link,
          class: entityLink.entity.class
        } only %}
      {% endif %}
    </div>
  {% if hideSection != true %}
  </section>
  {% else %}
  </div>
  {% endif %}
{% endif %}
