{% extends "@partials/node/node-wrapper.html.twig" %}
{% block node %}
  {% set rendered_content = content|without('field_category')
  %}
  <div{{ content_attributes.addClass('node__content') }}>
    {{ rendered_content }}
    <div class="field--name-field-category">
      {{ node.field_category.entity.label }} {{ 'Partner'|t }}
    </div>
    <a class="link-secondary" href="{{ url }}">{{ 'Bekijk partner'|t }}</a>
  </div>
{% endblock %}
