{% if class == 'inner'
  and media.entity is not empty
  and text is empty
%}
  {% set class = '' %}
{% endif %}
{% set classes = [
  'text',
  'relative',
  class
]|join(' ') %}
{% if hideSection != true %}
<section {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
{% else %}
<div {{ componentId ? 'id='~ componentId : null }} class="{{ classes }}">
{% endif %}
  {% if media.entity is not empty %}
    {% if media.entity.type == 'MediaImage' %}
      {% include '@storybook/components/media-image/media-image.html.twig' with {
        mediaImage: media.entity.mediaImage,
        class: 'bg-media',
        hideSection: true
      } only %}
    {% elseif media.entity.type == 'MediaVideo' %}
      {% include '@storybook/components/media-video/media-video.html.twig' with {
        mediaVideo: media.entity.mediaVideo,
        class: 'bg-media',
        hideSection: true
      } only %}
    {% endif %}
  {% endif %}
  <div class="text__content relative">
    {% if title and title is not empty %}
      <h2>{{ title }}</h2>
    {% elseif data.title and data.title.value is not empty and data.title.element is not empty %}
      <{{ data.title.element }}>{{ data.title.value }}</{{ data.title.element }}>
    {% endif %}
    {% if text and text is not empty %}
      <div class="text__content-text">{{ text.processed | raw }}</div>
    {% endif %}
    {% if entityLink is not empty %}
      {% include '@storybook/components/link/link.html.twig' with {
        link: entityLink.entity.link,
        class: entityLink.entity.class
      } only %}
    {% endif %}
  </div>
{% if hideSection != true %}
</section>
{% else %}
</div>
{% endif %}
