{% if hideSection != true %}
<section {{ componentId ? 'id='~ componentId : null }} class="manual-teaser relative {{ class }}">
{% else %}
<div {{ componentId ? 'id='~ componentId : null }} class="manual-teaser relative {{ class }}">
{% endif %}
  <div class="manual-teaser__content relative">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if text %}
      <div class="manual-teaser__content-text">{{ text.processed | raw }}</div>
    {% endif %}
  </div>
{% if hideSection != true %}
</section>
{% else %}
</div>
{% endif %}
