{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="glide-wrapper-multiple {{ rows|length <= 3 ? 'disable-navigation' }}">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {% for row in rows %}
          {%
            set row_classes = [
              default_row_class ? 'views-row',
            ]
          %}
          <div{{ row.attributes.addClass(row_classes) }}>
            {{- row.content -}}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="wrapper-control">
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="Prev"></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="Next"></button>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for key, slide in rows %}
          <button class="glide__bullet" data-glide-dir="={{ key }}"></button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
